body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  text-align: center;
}
footer {
  background-color: #033b7a;
  padding: 1.5%;
}
footer a,
footer a:hover {
  color: white;
  text-decoration: none;
}
#about {
  margin-top: 40px;
  /* navbar height */
}
section {
  min-height: 50vh;
  padding: 4% 7% 4% 7%;
}
#navigation-bar {
  display: none;
}
.cube,
.rotated-cube {
  background-image: none;
}
.image-icon {
  border-radius: 50%;
  margin: 0% 2% 0% 2%;
  max-height: 1.5em;
  padding: 0;
}
.title {
  font-family: 'Open Sans', sans-serif;
  margin: 2% 0% 5% 0%;
}
.title h1,
.title h2 {
  font-weight: bold;
}
.title h3 {
  font-weight: italic;
}
.icon {
  color: #0550a0;
  font-size: 2em;
}
.text-rotator {
  padding-top: 6%;
}
.background-image {
  background-color: #f2f2f2;
  background-size: 50%;
  background-repeat: no-repeat;
}
.portfolio-image,
.portfolio-image a,
.portfolio-image a img,
.portfolio-image .overlay {
  height: 30vh;
  width: 100%;
}
.portfolio-image {
  margin-bottom: 10%;
  position: relative;
}
.portfolio-image img {
  object-fit: contain;
  background-color: black;
}
.portfolio-caption {
  color: white;
  font-size: 0.8em;
  padding: 3%;
  position: absolute;
  text-align: center;
}
.overlay {
  background-color: #033b7a;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
}
.overlay:hover {
  opacity: 1;
}
.animated-underline {
  content: "";
  display: block;
  height: 0.2em;
  transition: all 0.3s ease-in;
  width: 0%;
}
.animated-underline-ribbon {
  display: inline-block;
}
/* TODO restructure animated classes as subclasses for cleaner CSS */
.animated-underline-ribbon:after {
  content: "";
  display: block;
  height: 0.2em;
  transition: all 0.3s ease-in;
  width: 0%;
  background: white;
}
.animated-underline-contact:after {
  content: "";
  display: block;
  height: 0.2em;
  transition: all 0.3s ease-in;
  width: 0%;
  background: #0550a0;
}
.animated-underline-ribbon:hover:after,
.animated-underline-contact:hover:after,
.force-underlined:after {
  width: 100%;
  /* the underline */
}
.link {
  color: #033b7a;
}
.link:hover {
  color: #0550a0;
  text-decoration: none;
}
.link i {
  font-size: 2em;
}
@media all and (max-width: 768px) and (min-aspect-ratio: 1.33333333) and (orientation: landscape) {
  .portfolio-image,
  .portfolio-image a,
  .portfolio-image a img,
  .portfolio-image .overlay {
    height: 90vh;
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  #navigation-bar {
    background-color: #033b7a;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
    padding: 0.25em 0 0.5em 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  #navigation-bar div a {
    color: white;
    text-decoration: none;
  }
  #navigation-bar div img {
    border-radius: 50%;
    max-height: 100%;
  }
  #navigation-bar .active::after {
    width: 100%;
    /* causes the .animated-underline to trigger */
  }
}
@media only screen and (min-width: 768px) {
  section {
    min-height: 100vh;
  }
  .cube {
    background-image: url("https://res.cloudinary.com/indi/image/upload/v1523572930/cube-background_gzvrzi.png");
    background-position: top right;
    background-size: 40%;
  }
  .rotated-cube {
    background-image: url("http://res.cloudinary.com/indi/image/upload/a_180/v1523572930/cube-background_gzvrzi.png");
    background-position: bottom left;
  }
}
@media only screen and (min-width: 1080px) {
  .cube {
    background-size: 50%;
  }
}
